<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/admin_layout}">
<head>
    <meta charset="UTF-8">
    <th:block layout:fragment="header_custom">

    </th:block>
</head>
<body>
<th:block layout:fragment="content" th:remove="tag">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Thông tin nhân viên</h4>
                <form class="form-sample border-info" method="post" th:action="@{/admin/employee/update}"
                      th:object="${userRespone}" enctype="multipart/form-data">
                    <p class="card-description" style="background-color: #429cb6; color: white; padding: 10px"> Thông
                        tin tài khoản</p>
                    <!--                    Hidden-->
                    <div>
                        <input type="hidden" th:field="*{id}"/>
                        <input type="hidden" th:field="*{imageId}"/>
                        <input type="hidden" th:field="*{usernameOld}"/>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <center class="m-t-30">
                                    <img id="image_view" th:src="*{image}" class="img-circle" width="150">
                                    <div class="form-group row">
                                        <div class="col-sm-3" style="margin: 0px auto;">
                                            <input type="file" th:field="*{image}" class="form-control" id="image_file"
                                                   placeholder="Image source">
                                        </div>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Email:</label>
                                <div class="col-sm-9">
                                    <input type="email" th:field="*{username}" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Tên nhân viên:</label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{name}" class="form-control"
                                           placeholder="Tên nhân viên">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Ngày sinh:</label>
                                <div class="col-sm-9">
                                    <input type="date" th:field="*{birthDay}" class="form-control"
                                           placeholder="Ngày sinh">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Số điện thoại:</label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{phone}" class="form-control"
                                           placeholder="Số điện thoại">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Giới tính:</label>
                                <div class="col-sm-9">
                                    <select class="form-control" th:field="*{gender}">
                                        <option th:value="0">Nam</option>
                                        <option th:value="1">Nữ</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Địa chỉ:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" th:field="*{address}" placeholder="Địa chỉ">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-success" style="margin: 0px 10px;">Cập nhật</button>
                            <button class="btn btn-danger" style="margin: 0px 10px;">
                                <a style="text-decoration: none; color:white;" th:href="@{/admin/employee/}">Hủy bỏ</a>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="custom" th:remove="tag">
    <script th:src="@{/js/main.js}"></script>
</th:block>
</body>
</html>
