<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="footer">
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Doan Stores 2020</span>
            </div>
        </div>
    </footer>
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

<!--    &lt;!&ndash; Page level plugins &ndash;&gt;-->
<!--    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>-->
<!--    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>-->
<!--    <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>-->

<!--    &lt;!&ndash; Page level custom scripts &ndash;&gt;-->
<!--    <script th:src="@{/js/demo/datatables-demo.js}"></script>-->

<!--    &lt;!&ndash; Page level custom scripts &ndash;&gt;-->
<!--    <script th:src="@{/js/demo/chart-area-demo.js}"></script>-->
<!--    <script th:src="@{/js/demo/chart-pie-demo.js}"></script>-->
</th:block>

</body>
</html>
